@import url("https://fonts.googleapis.com/css2?family=B612:wght@400;700&family=Nunito:wght@300;400;500;700&family=Roboto:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 2rem;
  line-height: 1.5;
}
img {
  max-width: 100%;
}

input[type="file"]::-webkit-file-upload-button,
input[type="file"]::file-selector-button {
  @apply text-white bg-Claret hover:bg-Claret2 text-3xl cursor-pointer border-0 py-2.5 pl-8 pr-4;
  margin-inline-start: -1rem;
  margin-inline-end: 1rem;
}

input[type="file"]::-webkit-file-upload-button,
input[type="file"]::file-selector-button {
  @apply text-white bg-Claret hover:bg-Claret2 text-3xl cursor-pointer border-0 py-2.5 pl-8 pr-4;
  margin-inline-start: -1rem;
  margin-inline-end: 1rem;
}

.swal2-popup {
  font-size: 1.6rem !important;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-btn {
  background: linear-gradient(#131c27, #663b34);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
